<!--
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
-->

<select class="dropdown" (change)="changemapRegion($event)">

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    
    <option value="">Select Region</option>
    <option value="melb">melbCoor</option>
    <option value="stateCoor">stateCoor</option>
    <option value="SA4_2011">SA4_2011</option>
    <option value="nswRegionCoor">nswRegions</option>
    <option value="queensRegion">qlRegions</option>
    <option value="saRegions">saRegions</option>
    <option value="waRegions">waRegions</option>
    <option value="ntRegions">ntRegions</option>
    <option value="vicRegions">vicRegions</option>

</select>


<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom"> 
    
<!--
    <agm-marker 
      *ngFor="let m of markers; let i = index"
      (markerClick)="clickedMarker(m.label, i)"
      [latitude]="m.lat"
      [longitude]="m.lng"
      [label]="m.label"
      [markerDraggable]="m.draggable"
      (dragEnd)="markerDragEnd(m, $event)">
      
        <agm-info-window>
            <strong>InfoWindow content</strong>
        </agm-info-window>
    
    </agm-marker>
-->
    
     
    <agm-data-layer [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc"></agm-data-layer>
</agm-map>

 <div style="width:700px; height:500px; "><img src="https://media.tenor.com/images/fa0ec03ae22382f9c1a188bfc8e1fe8f/tenor.gif" /> <div id="map_canvas" style="width:700px; height:500px; top:-25px;"></div> </div>
<!--

<ul>
  <li *ngFor="let player of Players">
   <h2>{{player.state}}</h2>
  </li>
</ul>
-->
