<!--
<agm-map [latitude]="lat" [longitude]="lng">
  <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker>
</agm-map>
-->

<!--
<select class="dropdown" (change)="changemapRegion($event)">

    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    
    <option value="">Select Region</option>
    <option value="melb">melbCoor</option>
    <option value="stateCoor">stateCoor</option>
    <option value="SA4_2011">SA4_2011</option>
    <option value="nswRegionCoor">nswRegions</option>
    <option value="queensRegion">qlRegions</option>
    <option value="saRegions">saRegions</option>
    <option value="waRegions">waRegions</option>
    <option value="ntRegions">ntRegions</option>
    <option value="vicRegions">vicRegions</option>

</select>
-->
<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-secondary active">
    <input type="radio" name="options" (click)="changeScene('R')" id="option1" autocomplete="off" checked> Rest
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" (click)="changeScene(0)" id="option2" autocomplete="off"> Income
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" (click)="changeScene(1)" id="option3" autocomplete="off"> Population
  </label>
  <label class="btn btn-secondary">
    <input type="radio" name="options" (click)="changeScene(2)" id="option3" autocomplete="off"> Homeless
  </label>
</div>

<agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">      
    <agm-data-layer [geoJson]="geoJsonObject1" (layerClick)="clicked($event)" [style]="styleFunc"></agm-data-layer>
</agm-map>

