<div class="container-fluid">
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Cluster & cloud Computing </h1>
              <p class="lead">( COMP90024 ) - <strong>Assignment 2</strong> </p>

            <hr class="my-4">
            <ul class="list-group list-group-flush lead w-50">
                <li class="list-group-item">
                  Chengze Guan    

                    <span class="badge badge-defalt badge-pill">1071274</span>
                </li>
                <li class="list-group-item">
                  Chan Jie 

                    <span class="badge badge-defalt badge-pill">961948</span>
                </li>
                <li class="list-group-item">
                  Yilin Xu

                    <span class="badge badge-defalt badge-pill">1201608</span>
                </li>
                <li class="list-group-item">
                  Akshay Yogesh Gohil

                    <span class="badge badge-defalt badge-pill">1041598</span>
                </li>
            </ul>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 overview">
            <div class="card border-light mb-3">
                <div class="card-header">Over View (Maps)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h6 class="card-subtitle mb-2 text-muted">Scenarios</h6>
                            <br><br>
                            <ul id="grouplist" class="list-group list-group-flush">
                                 <li class="list-group-item" [ngClass]="{'active': selectedScene == scene.clickId}" (click)="changeScene(scene.clickId)"  *ngFor="let scene of scenarios">
                                    {{ scene.name }}
                                 </li>
                            </ul>
                            
                            <br><br><br><br><br><br>
                        </div>
                        <div class="col-md-10">
                            <div class="btn-group float-right">
                              <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" (click)="dropdownF()">
                                Filter by city
                              </button>
                                
                              <ul class="dropdown-menu" [ngClass]="status ? 'show' : 'noshow'">                                  
                                <li><a class="dropdown-item" (click)="cityZoom('Australia')">Australia</a></li>  
                                <li><a class="dropdown-item" (click)="cityZoom('Melbourne')">Melbourne</a></li>
                                <li><a class="dropdown-item" (click)="cityZoom('Sydney')">Sydney</a></li>
                                <li><a class="dropdown-item" (click)="cityZoom('Brisbane')">Brisbane</a></li>
                                <li><a class="dropdown-item" (click)="cityZoom('Perth')">Perth</a></li>
                                <li><a class="dropdown-item" (click)="cityZoom('Adelaide')">Adelaide</a></li>
                              </ul>
                            </div>
                            
                            <ul id="legend">
                                 <li *ngFor="let col of colorList; let i = index" [style.background-color]="col">
                                    <div [style.background-color]="white">{{rangeList[i]}}</div>
                                 </li>
                            </ul>
                            
                            <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">      
                                <agm-data-layer [geoJson]="geoJsonObject" (layerClick)="clicked($event)">
                                </agm-data-layer>
                            </agm-map>
                            
                        </div>                        
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 overview">
            <div class="card border-light mb-3">
                <div class="card-header">Analysis (Charts & Tables)</div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-2">
                            <h6 class="card-subtitle mb-2 text-muted">Scenarios</h6>
                            <br><br>
                            <ul id="grouplist" class="list-group list-group-flush">
                                 <li class="list-group-item" [ngClass]="{'active': selectedChart == scene.clickId}" (click)="loadChart(scene.clickId)"  *ngFor="let scene of scenariosChart">
                                    {{ scene.name }}
                                 </li>
                            </ul>
                            
                            <br><br><br><br><br><br>
                        </div>
                        <div class="col-md-10">
                            <div class="btn-group float-right">
                                  <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false" (click)="dropdownF1()">
                                    Change Chart Type
                                  </button>
                                  <ul class="dropdown-menu" [ngClass]="status1 ? 'show' : 'noshow'">                                  
                                    <li><a class="dropdown-item" (click)="changeBar('bar')">Bar</a></li>  
                                    <li><a class="dropdown-item" (click)="changeBar('redar')">Redar</a></li>
                                  </ul>
                                </div>
                            
                            <div class="chart-wrapper" *ngIf="radar && !chartDefault">
                                    <canvas baseChart
                                    [datasets]="barChartData"
                                    [options]="radarChartOptions"
                                    [labels]="chartLabels"
                                    [chartType]="radarChartType">
                                  </canvas>
                                </div>

                            <div class="chart-wrapper" *ngIf="bar && !chartDefault" >
                                <canvas baseChart 
                                [datasets]="barChartData"
                                [labels]="chartLabels"
                                [options]="barChartOptions"
                                [plugins]="barChartPlugins"
                                [legend]="barChartLegend"
                                [chartType]="barChartType">
                              </canvas>
                            </div>
                            <div class="chart-wrapper" *ngIf="chartDefault">
                                <canvas baseChart 
                                [data]="pieChartData" 
                                [labels]="pieChartLabels" 
                                [chartType]="pieChartType"
                                [options]="pieChartOptions"
                                [plugins]="pieChartPlugins"
                                [legend]="pieChartLegend">
                              </canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
 