<div class="container-fluid">
<!--
    <h1 class="mt-4">Simple Sidebar</h1>
    <app-charts></app-charts>
    <app-maps></app-maps>
-->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-4">Cluster & cloud Computing </h1>
              <p class="lead">( COMP90024 ) - <strong>Assignment 2</strong> </p>

            <hr class="my-4">
            <ul class="list-group list-group-flush lead w-50">
                <li class="list-group-item">
                  Chengze
                    <span class="badge badge-defalt badge-pill">StudentID</span>
                </li>
                <li class="list-group-item">
                  CJ
                    <span class="badge badge-defalt badge-pill">StudentID</span>
                </li>
                <li class="list-group-item">
                  Yilin
                    <span class="badge badge-defalt badge-pill">StudentID</span>
                </li>
                <li class="list-group-item">
                  AK
                    <span class="badge badge-defalt badge-pill">StudentID</span>
                </li>
            </ul>
        </div>
    </div>

    <div class="row">
        <div class="col-md-3">
            <div class="card border-dark mb-3">
                <div class="card-header"># Total tweets Harvested 
                    <fa-icon (click)="onpenModal('getStateService')" data-toggle="modal" data-target="#mapModal" data-map_path="../../assets/mapBoundry/stateCoor.json" [icon]="faMapMarked"></fa-icon>
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart 
                        [data]="doughnutChartData"
                        [labels]="doughnutChartLabels"
                        [chartType]="doughnutChartType">
                      </canvas>
                    </div>
                </div>
<!--                <img class="card-img-bottom" src="..." alt="Card image cap">-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-dark mb-3">
                <div class="card-header"># Tweets for Cities
                    <fa-icon (click)="onpenModal('getStateService')" data-toggle="modal" data-target="#mapModal" data-map_path="../../assets/mapBoundry/stateCoor.json" [icon]="faMapMarked"></fa-icon>
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart 
                        [datasets]="barChartData"
                        [labels]="barChartLabels"
                        [options]="barChartOptions"
                        [plugins]="barChartPlugins"
                        [legend]="barChartLegend"
                        [chartType]="barChartType">
                      </canvas>
                    </div>
                </div>
<!--                <img class="card-img-bottom" src="..." alt="Card image cap">-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-dark mb-3">
                <div class="card-header"># Tweets for Cities
                    <fa-icon (click)="onpenModal('getStateService')" data-toggle="modal" data-target="#mapModal" data-map_path="../../assets/mapBoundry/stateCoor.json" [icon]="faMapMarked"></fa-icon>
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart 
                            [datasets]="lineChartData" 
                            [labels]="lineChartLabels" 
                            [options]="lineChartOptions"
                            [colors]="lineChartColors" 
                            [legend]="lineChartLegend" 
                            [chartType]="lineChartType" 
                            [plugins]="lineChartPlugins">
                        </canvas>
                    </div>
                </div>
<!--                <img class="card-img-bottom" src="..." alt="Card image cap">-->
            </div>
        </div>
        <div class="col-md-3">
            <div class="card border-dark mb-3">
                <div class="card-header"># Tweets for Cities
                    <fa-icon (click)="onpenModal('getStateService')" data-toggle="modal" data-target="#mapModal" data-map_path="../../assets/mapBoundry/stateCoor.json" [icon]="faMapMarked"></fa-icon>
                </div>
                <div class="card-body">
                    <div class="chart-wrapper">
                        <canvas baseChart
                        [datasets]="radarChartData"
                        [options]="radarChartOptions"
                        [labels]="radarChartLabels"
                        [chartType]="radarChartType">
                      </canvas>
                    </div>
                </div>
<!--                <img class="card-img-bottom" src="..." alt="Card image cap">-->
            </div>
        </div>
    </div>
    <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">City</th>
              <th scope="col">TweetCount</th>
              <th scope="col">SentiSum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let city of getSentimentsByCity; let i=index" (click)="cityChange(city.key)">
              <th scope="row">{{i}}</th>
              <td>{{city.key}}</td>
              <td>{{city.value.count}}</td>
              <td>{{city.value.sum}}</td>
            </tr>
            
          </tbody>
        </table>
    </div>
    <div class="row">
        <h2>GetTweetsByCity</h2>
        <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">
            <ng-container *ngFor="let m of markers; let i = index">
                <agm-marker *ngIf="m.value.city == currentCity"
                  [latitude]="m.value.location[1]"
                  [longitude]="m.value.location[0]"
                  (markerClick)="clickedMarker(m)">

                    <agm-info-window>
                        <strong>SA2_name - {{m.value.SA2_name}}</strong><br>
                        <strong>city - {{m.value.city}}</strong><br>
                        <strong>sentiment - {{m.value.sentiment}}</strong><br>
                    </agm-info-window>

                </agm-marker>
            </ng-container>
        </agm-map>
    </div>
    
<div class="modal fade" id="mapModal" tabindex="-1" role="dialog" aria-labelledby="mapModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="mapModalLabel">New message</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
<!--
        <form>
          <div class="form-group">
            <label for="recipient-name" class="col-form-label">Recipient:</label>
            <input type="text" class="form-control" id="recipient-name">
          </div>
          <div class="form-group">
            <label for="message-text" class="col-form-label">Message:</label>
            <textarea class="form-control" id="message-text"></textarea>
          </div>
        </form>
-->
          <agm-map [latitude]="lat" [longitude]="lng" [zoom]="zoom">    
              <agm-data-layer [geoJson]="geoJsonObject" (layerClick)="clicked($event)" [style]="styleFunc"></agm-data-layer>
          </agm-map>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Send message</button>
      </div>
    </div>
  </div>
</div>
</div>
